.App {
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}
html, body, #root, .App {
    margin: 0;
    height: auto;
    min-height: 100%;
}
.App-view {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #363c3c;
  padding: 13px 20px;
  color: white;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.6);
  z-index: 1;
}
input {
  font-family: inherit;
  font-size: 16px;
  width: 170px;
  height: 25px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin: 5px 20px;
  padding: 5px 25px;
  box-shadow: inset 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.4);
}
input::placeholder {
  color: rgba(100, 100, 100, 0.5);
}

img {
  width: auto;
  height: 36px;
}
.App-sidebar {
  display: flex;
  flex-direction: column;
  flex: 1 0 20%;
  background-color: #d6d8d8;
  align-self: stretch;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.6);
}
button {
  font-family: 'Source Serif Pro', serif;
  font-size: 16px;
  font-weight: bold;
  padding: 9px 10px;
  margin: 50px 25px 0px 25px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.75);
  box-shadow: inset 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.4);
}
ul {
  list-style-type: none;
  padding: 0px 0px 0px 25px;
}
li {
  padding: 7px 5px 7px 5px;
}
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  font-size: 19px;
}
a:hover {
  color: rgba(0, 0, 0, 0.8);
}

.App-viewarea {
  display: flex;
  flex: 4 0 80%;
  align-self: stretch;
}
.Swatch-list-view {
  flex-direction: column;
  max-width: 800px;
  padding: 40px 20px;
}
.App-item-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  height: auto;
  padding: 40px 20px;
}
.Swatch-window {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.Swatch-tile {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius:  6px;
  margin: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.Swatch-tile-large {
  border-radius:  6px;
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.Swatch {
  border-radius: 5px 5px 0px 0px;
  height: 140px;
  width: 160px;
}
.Swatch-large {
  border-radius: 5px 5px 0px 0px;
  height: 350px;
  width: 100%;
}
.Swatch-large+h1 {
  margin: 25px 30px;
  font-size: 24px;
  font-weight: 400;
}
.Swatch.small {
  border-radius: 5px 5px 0px 0px;
  height: 80px;
  width: 120px;
}
h2 {
  font-size: 14px;
  font-weight: 400;
  color: #474c4c;
  margin-left: 10px;
}
h1 {
  font-size: 15px;
  font-weight: 400;
  color: #474c4c;
  margin: 8px 0px 6px 16px;
}
#page-numbers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 40px 0px 10px 0px;
}
.page {
  cursor: pointer;
  color: #494e4e;
  margin: 0px 6px;
  padding: 0px 5px;
  font-size: 17px;
  font-family: 'Source Serif Pro', serif;
  font-weight: 400;
}
.page.active {
  border-bottom: 1px solid black;
  font-weight: 700;
  color: #3b4040;
}
.Color-carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Color-carousel .Swatch-tile {
  cursor: auto;
}
.App-item-view>button {
  align-self: center;
  width: 180px;
  margin: 20px 10px;
  box-shadow: none;
}
